{% extends 'base.html.twig' %}

{% block body %}

<h1>Lobby</h1>

<table class="table">
    <tbody>
        <tr>
            <th scope="col">
                Nom du joueur
            </th>
        </tr>
        {% for player in players %}
            <tr>
                <td scope="row">
                    {{ player }}
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>

{% if is_granted('ROLE_USER') %} 

    <a href="/lobby" class="btn btn-primary">Quitter le loby</a>

{% endif %}

{% if is_granted('ROLE_ADMIN') %} 
    <a href="/lobby/games/create" class="btn btn-success">Créer match</a>
{% endif %}

{% endblock %}
