{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-5">


    {% if is_granted('ROLE_USER') %} 
        <form action="/lobby/register/{{ app.user.id }}" method="POST">
            <input type="submit" class="btn btn-primary" value="M'inscrire dans le Lobby">
        </form>
         <br><br>
        <a href="/lobby/home" class="btn btn-primary">Accéder au lobby</a> 
    {% endif %}

</div>

{% endblock %}
